I'm a software engineer at <a href="https://www.hudsonrivertrading.com/">Hudson River Trading</a> in New York City.

<br/><br/>

I received Bachelor's and Master's degrees in Computer Science from the
<a href="https://illinois.edu/">University of Illinois Urbana-Champaign</a> in December 2022.
While at Illinois, I interned at HRT and at <a href="https://www.prudential.com/">Prudential Financial</a>.

<br/><br/>

Additionally, I:
<ul>
    <li>
        conducted research in automatic bug detection under Professor <a href="http://misailo.cs.illinois.edu/">Sasa Misailovic</a>.
    </li>
    <li>
        developed scalable grading solutions for
        <a href="https://courses.engr.illinois.edu/cs374/fa2021/A/">CS 374</a>, Illinois's undergraduate algorithms class.
        I co-authored <a href="https://jeffe.cs.illinois.edu/pubs/pdf/pl4tcs.pdf">a paper</a> appearing in ASEE 2023 as a result of this work.
    </li>
    <li>
        served on the course staff of software design classes for five semesters.
        I was a teaching assistant for CS 222 in <a href="https://courses.grainger.illinois.edu/cs222/fa2022/">FA22</a> and <a href="https://courses.grainger.illinois.edu/cs222/sp2022/">SP22</a>,
        and I was a course assistant for CS 126 in <a href="https://courses.grainger.illinois.edu/cs126/sp2021/">SP21</a>,
        <a href="https://courses.grainger.illinois.edu/cs126/fa2020/">FA20</a>, and <a href="https://courses.grainger.illinois.edu/cs126/sp2020/">SP20</a>.
    </li>
</ul>