I'm a graduate of the <a href="https://cs.illinois.edu/academics/graduate/fifth-year-masters-programs/5-year-bs-mcs-program">BS / MCS</a>
program at the <a href="https://illinois.edu/">University of Illinois Urbana-Champaign</a>.

I've interned at <a href="https://www.hudsonrivertrading.com/">Hudson River Trading</a>
and <a href="https://www.prudential.com/">Prudential Financial</a>.

While at Illinois, I worked on research in automatic bug detection under Professor <a href="http://misailo.cs.illinois.edu/">Sasa Misailovic</a>
and spent <a href="https://courses.grainger.illinois.edu/cs222/fa2022/">six</a>
<a href="https://courses.grainger.illinois.edu/cs222/sp2022/">se</a><!--
--><a href="https://courses.grainger.illinois.edu/cs374/fa2021/">me</a><!--
--><a href="https://courses.grainger.illinois.edu/cs126/sp2021/">st</a><!--
--><a href="https://courses.grainger.illinois.edu/cs126/fa2020/">er</a><!--
--><a href="https://courses.grainger.illinois.edu/cs126/sp2020/">s</a>
on the course staff for several classes in software design and theoretical computer science.
