I'm an Algo Engineer at <a href="https://www.hudsonrivertrading.com/">Hudson River Trading</a> in New York City.
I build infrastructure that enables fast, high-quality research on financial markets worldwide.

<br/><br/>

In December 2022, I received Bachelor's and Master's degrees in Computer Science from the
<a href="https://illinois.edu/">University of Illinois Urbana-Champaign</a>.
While at Illinois, I interned at HRT and at <a href="https://www.prudential.com/">Prudential Financial</a>.

<br/><br/>
Outside of internships, I conducted research in automatic bug detection under <a href="http://misailo.cs.illinois.edu/">Sasa Misailovic</a>,
investigated novel methods for teaching algorithms at scale under <a href="http://jeffe.cs.illinois.edu/">Jeff Erickson</a>,
and served on the course staff of several iterations of software design classes.
