I'm a
<a href="https://cs.illinois.edu/academics/graduate/fifth-year-masters-programs/5-year-bs-mcs-program">BS / MCS</a>
student in the
<a href="https://cs.illinois.edu/">Department of Computer Science</a>
at the <a href="https://illinois.edu/">University of Illinois Urbana-Champaign</a>.
This summer, I'm working as a software engineering intern at <a href="https://www.hudsonrivertrading.com/">Hudson River Trading</a>.
I previously interned at <a href="https://www.prudential.com/">Prudential Financial</a> in their Actuarial and Finance Technology division.
At Illinois, I am working / have:
<ul>
    <li>worked on research in automatic bug detection under Professor <a href="http://misailo.cs.illinois.edu/">Sasa Misailovic</a>.</li>
    <li>developed new content for <a href="https://courses.engr.illinois.edu/cs374/fa2021/A/">CS 374</a>, Illinois's undergraduate algorithms class.</li>
    <li>served as a member of the course staff of software design classes for
        <a href="https://courses.grainger.illinois.edu/cs222/sp2022/">f</a><a href="https://courses.grainger.illinois.edu/cs126/sp2021/">o</a><a href="https://courses.grainger.illinois.edu/cs126/fa2020/">u</a><a href="https://courses.grainger.illinois.edu/cs126/sp2020/">r</a>
        semesters.
    </li>
</ul>
